[Desktop Entry]
Encoding=UTF-8
Name=Verwijzing naar FullSizeR_edited.jpg
Type=Link
URL=https://static.wixstatic.com/media/4ea43f_d97722a9a5b54114bb412e76232b4ccb~mv2.jpg/v1/fill/w_246,h_226,al_c,q_80,usm_0.66_1.00_0.01/FullSizeR_edited.webp
Icon=image-webp
Name[nl]=portrait2.jpg
