/* GENERIC STUFF */

body{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

.top{
    margin: 0;
    padding: 32;
    background-color: #263a44bb;
    color: #f0f0ce;
    box-shadow: 4px #000000;
}

/* a background imaged area for articles and such*/
.pagecontent{
    /* setup the background */
    background-image: url("/LangSiteFlat/src/bg.png");
    background-repeat:  no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh; 
    /* other */
    padding-bottom: 5%;
}

/* ARTICLE STUFF */

.article{
    margin: 60px;
    padding-left : 5%;
    padding-right : 5%;
    padding-top : 5%;
    padding-bottom: 5%;
    background-color: #eeeee0b0;
    /*background-color: #eeeee8ee;*/
    /*border-radius: 5%;*/
}

.article h1{
    padding : 5%;
}

.article img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding: 8px;
    border: 4px;
    margin-top: 8px;
    margin-bottom: 8px;
    border-style: solid;
    border-color: #3b3b4980;
}
